.footer {
  background: var(--White);
  margin-top: auto;
  margin-inline: auto;
  width: 100%;

  &__copyright {
    text-align: center;
    color: var(--Black);
    font-kerning: none;
    font-feature-settings: "calt" off;
    font: var(--Paragraph_Progress-15);
    text-transform: capitalize;
    padding: 18px 0 18px 0;
  }
}
