.nav-bar {
  display: grid;
  padding: 50px 34px 568px 34px;
  background: var(--White-font);
  box-shadow: 4px 0px 10px 0px rgba(47, 122, 249, 0.1);
  gap: 212px;
  height: fit-content;
  max-width: 108px;

  &__mode {
    text-align: center;
    .light {
      display: none;
      cursor: pointer;

      width: 25px;
      height: 25px;
      img {
        width: 25px;
        height: 25px;
      }

      &._active {
        display: block;
      }
    }

    .dark {
      cursor: pointer;
      width: 25px;
      height: 25px;
      img {
        width: 25px;
        height: 25px;
      }
      &._active {
        display: none;
      }
    }
  }
  &__ul {
    display: grid;
    gap: 43px;
  }

  circle {
    transition: var(--transition);

    &:hover {
      fill: var(--Yellow, #ffb400);
    }
  }
}
