html {
  font-size: 1px;

  @include tablet {
    font-size: 0.95px;
  }

  @include tablet-small {
    font-size: 0.8px;
  }

  @include mobile {
    font-size: 0.7px;
  }
}

html,
body {
  height: 100%;
}
body {
  font-family: var(--ff);
  padding: 30px;
  background: var(--Background);
  transition: background 0.5s;

  @include mobile {
    padding: 15px;
  }
}
.container {
  max-width: 970px;
  margin-inline: auto;
}

.no-scroll {
  overflow: hidden;
}

.wrapper {
  max-width: 1440px;
  margin-inline: auto;

  display: grid;
  gap: 30px;
  grid-template-columns: 1fr 1fr 1fr;
}
