html {
  font-size: 1px;

  @include tablet {
    font-size: 0.95px;
  }

  @include tablet-small {
    font-size: 0.8px;
  }

  @include mobile {
    font-size: 0.7px;
  }
}

html,
body {
  min-height: 100%;
}
body {
  font-family: var(--ff);
  background: var(--Background);

  @include desktop {
    padding: 0 20px 0 20px;
    overflow: hidden;
  }
  @include mobile {
    padding: 15px;
  }
}

.main {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}
.container {
  max-width: 970px;
}

.wrapper {
  margin-inline: auto;
  overflow: hidden;
  max-width: 1440px;
  display: flex;
  gap: 30px;

  @include desktop {
    display: flex;
    justify-content: space-between;
  }
}
